.eateryImageClass {
    max-height: auto;
    max-width: 300px;
}

#attractionImage {
    max-height: auto;
    max-width: 300px;
}

#eateryWrapper {
    display: flex;
    flex-flow: column;
    background-color: whitesmoke;
    padding: 5%;
    margin: 1em 1em 1em 1em;
    box-shadow: 5px 10px #d8dada;
}

#eateryWrapper:hover {
    background-color: rgb(230, 235, 244);
}

#attractionWrapper {
    display: flex;
    flex-flow: column;
    background-color: whitesmoke;
    padding: 5%;
    margin: 1em 1em 1em 1em;
    box-shadow: 5px 10px #d8dada;
}
#attractionWrapper:hover {
    background-color: rgb(230, 235, 244);
}